
<section id="aurora-locator" ng-controller="FeedController">

    <div class="thumbs-area">

        <h1>Aurora Gram</h1>
        <h2>Real-time Northern Lights Spotting</h2>

        <ul class="thumbs-list">

            <li class="thumb" ng-repeat="post in feed">
                <a href="" title="location-name" ><img ng-src="{{post.images.standard_resolution.url}}" alt="lat-long" /></a>
                <p class="user"><a href="">@{{ post.user.username }}</a></p>
            </li>

        </ul>

    </div><!-- /thumbs-area -->

    <div class="map-area">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066864.071674244!2d23.6843626!3d67.9553871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45d3d1b9b8ac53d9%3A0x40146d63c75b850!2s99300+Muonio%2C+Finland!5e0!3m2!1sen!2s!4v1414013279372" width="620" height="410" frameborder="0" style="border:0"></iframe>

    </div><!-- /map-area -->

</section>
